@model ORM1.Models.Book

<h2>Sửa Book</h2>

<form asp-action="Edit">

    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PublishYear"></label>
        <input asp-for="PublishYear" class="form-control" />
    </div>

    <button class="btn btn-success">
        Update
    </button>

</form>